* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(315deg, #c2e9fb 0%, #a1c4fd 100%);
  font-size: 1.6rem;
  display: grid;
  place-items: center;
  height: 100vh;
}

body,
button,
input {
  font-family: 'DM Sans', sans-serif;
}

.hide {
  display: none;
}

button {
  background-color: hsla(240, 81%, 71%, 1);
  color: White;
  border-radius: 0rem 0.25rem 0.25rem 0rem;
  font-weight: bold;
  border-radius: 0 0.4rem 0.4rem 0;
  cursor: pointer;

  transition: background 0.3s;
}

button:hover {
  background-color: #363686;
}

main {
  display: flex;
  padding: 3rem 4rem 4rem 4rem;
  flex-direction: column;
  align-items: center;
  border-radius: 0.6rem;
  background: #fff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);

  width: min(42.8rem, 90%);
  margin-top: -12rem;
}

/*screen 1*/

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  color: hsla(240, 27%, 28%, 1);
  margin-bottom: 1rem;
}

p {
  color: hsla(238, 27%, 28%, 0.8);
  opacity: 0.8;
  margin-bottom: 3rem;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
}

input,
button {
  border: none;
  padding: 1.6rem;
}

input {
  background-color: hsla(212, 23%, 89%, 1);
  width: 6rem;
  border-radius: 0.4rem 0 0 0.4rem;
}

/* screen2*/
.screen2 {
  text-align: center;
}

h2 {
  color: #34355b;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 2.5rem;
}

.screen2 button {
  display: inline-flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
}
